<div *ngIf="product">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Functionality</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{product.productName}}</th>
        <th scope="row"> <span class="button is-small btn-primary" *ngIf='product.active'
            (click)='updateActive(false)'>Inactive</span>
          <span class="button is-small btn-primary" *ngIf='!product.active' (click)='updateActive(true)'>Active</span>
          <span class="button is-small btn-danger" (click)='deleteProduct()'>Delete</span></th>
      </tr>
    </tbody>
  </table>
</div>