<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Product</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Functionality</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{product.productName}}</td>
          <td><button (click)="deleteProduct(product.productID)">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>